<nav class="site-nav" role="navigation">
  <% link_to '/', class: 'navbar-brand' do %>
    Robert Bruce CPA
  <% end %>

  <div class="nav-links">
  <% link_to '/' do %>
    Home
  <% end %>
  <% link_to 'about' do %>
    About
  <% end %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
